header{
  background-image: url("https://res.cloudinary.com/devnkcikq/image/upload/v1605881106/jason-leung-Xaanw0s0pMk-unsplash_etwkez.jpg");
  background-size:cover;
  height: 70vh;

  h1{
    font-size: 72px;
    color: white;
    text-align: center;
    vertical-align: center;
  }
}
